/* Lgin */

body{
    position: relative;
    width: max-content;
    height: max-content;
    
    background: #F0F0F0;
}

.contenedor{
position: absolute;
width: 594px;
height: 299.94px;
left: 423px;
top: 400px;
}

.img_logo{
    
position: absolute;
width: 271px;
height: 256px;
left: 585px;
top: 10px;

}

.btn{
/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;

position: absolute;
width: 351.91px;
height: 65.74px;
left: 544px;
top: 680px;

/* Colour 1 */
background: #18A558;
border-radius: 8px;

font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 22px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

.input_usuario{
position: absolute;
width: 574.4px;
height: 84.3px;
left: 0px;
top: 40px;

background: #F7F7F7;
border: 3px solid #18A558;
box-sizing: border-box;
border-radius: 19.604px;
}
.input_contraseña{
    position: absolute;
    width: 574.4px;
    height: 84.3px;
    left: 0px;
    top: 160px;
    
    background: #F7F7F7;
    border: 3px solid #18A558;
    box-sizing: border-box;
    border-radius: 19.604px;
    }

.letra{
position: center;
width: center;

font-family: Libre Franklin;
font-style: normal;
font-weight: normal;
font-size: 31.3663px;
line-height: 38px;
/* identical to box height */

display: flex;
align-items: center;

color: #828282;

}

.titulo{
    position: absolute;
width: max-content;
height: max-content;
left: 475px;
top: 220px;
font-family: Roboto Mono;
font-style: normal;
font-weight: normal;
font-size: 47.9667px;
line-height: 63px;

text-transform: capitalize;

color: #8A8787;
}

.label_usuario{
position: absolute;
width: 594px;
height: 37.25px;
left: 0px;
top: 10px;

font-family: Libre Franklin;
font-style: normal;
font-weight: bold;
font-size: 31.3663px;
line-height: 38px;
/* identical to box height */

display: flex;
align-items: center;
}
.label_contraseña{
    position: absolute;
    width: 594px;
    height: 37.25px;
    left: 0px;
    top: 130px;
    
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: bold;
    font-size: 31.3663px;
    line-height: 38px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    }

.letra_contraseña{
    /* •••••••••••••••••• */


position: absolute;
width: 468.53px;
height: 37.25px;
left: 448.49px;
top: 738.17px;

font-family: Libre Franklin;
font-style: normal;
font-weight: normal;
font-size: 31.3663px;
line-height: 38px;
/* identical to box height */

display: flex;
align-items: center;

color: #828282;
}

.letra_btn{
    /* Primary Button */


position: static;
width: 83px;
height: 38px;
left: 134.46px;
top: 13.87px;

/* Paragraph */

font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}