*{
    padding:0;
    margin:0;
    font-family:'Arial';
}

body{
    background-color: #eaeaea;
}

.header{
    text-align:center;
    display:block;
    margin:20px;
}

.main-nav ul{
    display:flex;
    justify-content: center;
    list-style:none;
}

    .main-nav ul li{
        padding:0 10px 5px 10px;
        border-bottom:2px solid rgba(107,242,123,.3);
    }

    .main-nav ul li.active{
        border-color:rgba(107,242,123,1);
    }

        .main-nav ul li a{
            text-decoration:none;
            font-weight:bold;
            color:#999999;
            transition-duration:.3s
        }
            .main-nav ul li a:hover{
                color:black;
            }

        .main-nav .active a{
            color:black;
        }

.container{
    display:block;
    margin:15px;
    padding:15px;
}

.title{
    text-align:center;
    padding:30px;
}

    .title h1{
        max-width: 360px;
        margin: auto;
        border-bottom:1px solid #999999;
        color:#999999;
    }

.content{
    display:grid;
    grid-template-columns:50% 50%;
}

    .content h2{
        margin-bottom:15px;
    }

    .content > .col1,
    .content > .col2{
        padding:30px;
    }


        .content .col1 form{
            display:grid;
            grid-template-columns:80% 20%;
        }


.content .col2 .info{
    display:grid;
    grid-template-columns:50% 50%;
}

.form-col1{
    margin-right:7.5px;
}

.form-col2{
    margin-left:7.5px;
}

form input:not(input[type="file"]),
form textarea{
    border:1px solid #0BD494;
    padding:10px;
}

    form input[type="submit"]{
        cursor:pointer;
        background:#0BD494;
        color:white;
        font-weight:bold;
    }

    form div{
        display:grid;
    }

    form div:not(:last-child){
        margin-bottom: 15px;
    }

    form .form-col2 div{
        grid-auto-rows: auto;
    }

    form .edit{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }